/***************************** General styles *****************************/
html {
    height: 100%;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
/***************************** index body wrapper*****************************/



/***************************** Header section *****************************/
#header-section{
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
}
ul.topnav {
    box-sizing: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom-style: groove;
    border-bottom-color: #BC4123 ;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.topnav li a:hover:not(.active) {background-color: rgb(119, 116, 116);}

ul.topnav li a.active {background-color:#BC4123;}

ul.topnav div.right {display: flex;}

.social-li { float: right !important; }

.menu-button {
    display: none;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    cursor: pointer;
    float: left;
}
.menu-line1 {
    width: 35px;
    height: 5px;
    background-color: white;
    transition: 0.4s;
}
.menu-line2 {
    width: 35px;
    height: 5px;
    background-color: white;
    transition: 0.4s;
}
.menu-line3 {
    width: 35px;
    height: 5px;
    background-color: white;
    transition: 0.4s;
}
.menu-content a {
    float: none;
}
.menu-content {
    display: none;
    transition: 0.4s;
}
.change .menu-content{
    display: block;
    transition: 0.4s;
}
.change .menu-line1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    transition: 0.4s;
}
.change .menu-line2{
    opacity: 0;
    transition: 0.4s;
}
.change .menu-line3{
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    transition: 0.4s;
}
.active { display: none !important; }



/***************************** Responsive design settings *****************************/
@media screen and (max-width: 900px) {
    #skill-inner div {
        font-size: 16px;
    }
}
@media screen and (max-width: 600px) {
    ul.topnav div.right,
    ul.topnav li {float: none;}
    .social-li {
        display: flex;
        justify-content: center;
    }
    ul.topnav{
        position: relative;
        background-color: black;
        overflow: hidden;
    }
    .home { display: none !important; }
    .active { display: none !important; }
    .projects { display: none !important; }
    .about { display: none !important; }
    .resume { display: none !important; }

    .menu-button {
        display: inline-block;
        cursor: pointer;
    }
}


/*___________ social media links ___________*/
.fa {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa-github {
    color: white;
}
.fa-linkedin {
    color: white;
}
.fa-facebook {
    color: white;
}


/***************************** Body section *****************************/
body {
    
    width: 100%;
    height: auto;
    top: 0;
    padding: 0;
    margin: 0;
    font: clamp(25px, 2.5vh, 40px) 'Times New Roman', Times, serif;
}

.body-section {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#home-section{
    height: 100vh;
    background-color: #BC4123;
/*     background-image: url(../images/sajad-nori-fS84AVYcxU4-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
 */}

#about-section{
    height: 100vh;
    background-color: black;
}
#project-section{
    height: 100vh;
    background-color: aqua;
}

