/***************************** General styles *****************************/
html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


/***************************** Header section *****************************/

ul.topnav {
    box-sizing: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom-style: groove;
    border-bottom-color: #BC4123 ;
    width: 100%;
    background-color: black;
    position: fixed;

    /* test */
    font: 25px 'Times New Roman', Times, serif;

}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: rgb(119, 116, 116);}

ul.topnav li a.active {background-color:#BC4123;}

ul.topnav div.right {display: flex;}

@media screen and (max-width: 600px) {
    ul.topnav div.right,
    ul.topnav li {float: none;}
    #social-li {
        width: 100%;
        float: none;
        display: flex;
        justify-content: center;
    }
    ul.topnav{
        position: relative;
        background-color: black;
    }
}

#social-li {
    float: right;
}

/*___________ social media links ___________*/
.fa {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa-github {
    color: white;
}
.fa-linkedin {
    color: white;
}
.fa-facebook {
    color: white;
}


/***************************** Body section *****************************/
body {
    background-image: url(../images/sajad-nori-fS84AVYcxU4-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    padding: 0;
    margin: 0;
    font: 22px 'Times New Roman', Times, serif;
}

.body-section {
    height: 100%;
    display: flex;
    flex-direction: column;

}

/*___________ profile section ___________*/
#profile-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#profile-inner {
    max-width: 800px;
    max-height: 600px;
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 15%;

    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    border-radius: 50px;
}
#inner-left {
    box-sizing: inherit;
    max-width: 300px;
    width: 40%;
    float: left;
    margin: 5% 5%;
    border-style: groove;
    background-color: azure;
    border-radius: 50px;

}
#inner-right {
    width: 50%;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    margin-left: 20px;
    
    /* temp */
    border-style: dashed;
    border-color: black;
}

/*___________ need section ___________*/

#need h3 {
    color: white; 
    text-align: center;
    margin-bottom: 50px;
}
#need ul {
    color: white;
    text-align: center;
    list-style-type: none;
    padding-inline-start: 0;
}
#need ul li {
    margin-bottom: 20px;
}
#contact-me {
    display: flex;
    justify-content: center;
}
#contact-me h4 {
    color: white;
    margin-right: 10vw;
}
#contact-me button {
    margin-top: auto;
    margin-bottom: auto;
    height: 4vw;
    min-height: 15px;
    max-height: 25px;
}



/*___________ soft skills section ___________*/


/*___________ contact form section ___________*/



/***************************** Footer section *****************************/
.footer-section {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgb(20, 20, 20);
    height: 286px;
    opacity: .7;
    overflow: hidden;

    /* temp */
    border-top-style: dashed;
    border-top-color: white;
    font: 14px 'Times New Roman', Times, serif;

}



.inner-footer {
    margin: 30px 90px;
    height: 220px;
    display: block;
    opacity: unset !important;
    overflow: hidden;

    /* temp */
    border-style: dashed;
    border-color: white;
}

.f-top {
    width: 100%;
    
    height: 80%;
}
.f-left-2 {
    float: left;
    width: 30%;
    height: 100%;
}
.f-left-2 p {
    position: relative;
    top: 0;
    bottom: 0;
    text-align: center;
    margin: 20px 45px;
    overflow: hidden;

}

.f-left-1 {
    float: left;
    width: 30%;
    height: 100%;
}
.f-left-1 p {
    margin: 20px 45px;
    overflow: hidden;
}
.f-right {
    float: right;
    width: 40%;
}
.f-right li {
    float: right;
    width: 50%;
    height: 80%;
    list-style-type: none;
}
.f-right H3 {
    text-align: center;
    height: 20%;
}
.f-bottom {
    width: 100%;
    bottom: 0;
    height: 20%;
    border-color: aqua;
    border-style: groove;
    position: relative;
}



/**&&&&&&&&&&&&&&&&&&&&&&&&&&&&& about page &&&&&&&&&&&&&&&&&&&&&&&&&&&&&**/

/***************************** body section *****************************/

.about-body-section {
    min-height: 1000px;
}






/**&&&&&&&&&&&&&&&&&&&&&&&&&&&&& projects page &&&&&&&&&&&&&&&&&&&&&&&&&&&&&**/

/***************************** body section *****************************/


.project-body-section {
    min-height: 1000px;
}