/***************************** General styles *****************************/
html {
    height: 100%;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 2px;
}
/***************************** index body wrapper*****************************/



/***************************** Header section *****************************/
#header-section{
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
}
ul.topnav {
    box-sizing: inherit;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom-style: groove;
    border-bottom-color: #BC4123 ;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.topnav li a:hover:not(.active) {background-color: rgb(119, 116, 116);}

ul.topnav li a.active {background-color:#BC4123;}

ul.topnav div.right {display: flex;}

.social-li { 
    float: right !important;
    font-size: clamp(25px, 3vw, 4vh);
 }

.menu-button {
    display: none;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    cursor: pointer;
    float: left;
}
.menu-line1 {
    width: 35px;
    height: 5px;
    background-color: white;
    transition: 0.4s;
}
.menu-line2 {
    width: 35px;
    height: 5px;
    background-color: white;
    transition: 0.4s;
}
.menu-line3 {
    width: 35px;
    height: 5px;
    background-color: white;
    transition: 0.4s;
}
.menu-content a {
    float: none;
}
.menu-content {
    display: none;
    transition: 0.4s;
}
.change .menu-content{
    display: block;
    transition: 0.4s;
}
.change .menu-line1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    transition: 0.4s;
}
.change .menu-line2{
    opacity: 0;
    transition: 0.4s;
}
.change .menu-line3{
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    transition: 0.4s;
}
.active { display: none !important; }



/***************************** Responsive design settings *****************************/
@media screen and (max-width: 900px) {
    #skill-inner div {
        font-size: 16px;
    }
}
@media screen and (max-width: 600px) {
    ul.topnav div.right,
    ul.topnav li {float: none;}
    .social-li {
        display: flex;
        justify-content: center;
    }
    ul.topnav{
        position: relative;
        background-color: black;
        overflow: hidden;
    }
    .home { display: none !important; }
    .active { display: none !important; }
    .projects { display: none !important; }
    .about { display: none !important; }
    .resume { display: none !important; }

    .menu-button {
        display: inline-block;
        cursor: pointer;
    }
}


/*___________ social media links ___________*/
.fa {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa-github {
    color: white;
}
.fa-linkedin {
    color: white;
}
.fa-facebook {
    color: white;
}


/***************************** Body section *****************************/
body {
    
    width: 100%;
    height: auto;
    top: 0;
    padding: 0;
    margin: 0;
    font: clamp(2.5vh, 3vw, 4vh) 'Times New Roman', Times, serif;
}

.body-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../images/sajad-nori-fS84AVYcxU4-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

/* *************** Home Section *********************** */

#home-section{
    height: 100vh;
    padding-top: 59px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home-inner {
    color: white;
    display: block;
    width: 70%;
    height: fit-content;
    max-width: 800px;
    padding-left: 20px;
    border-left: whitesmoke;
    border-left-style: solid;
    border-left-color: #BC4123;
    margin-bottom: 50px;
}
.line {
    height: 3px;
    background-color: #BC4123;
    width: 70%;
}
#home-inner h1 {
    width: unset;
    font-size: clamp(47px, 6vw, 11vh) ;
    margin-top: 0px;
    margin-bottom: 10px;
}
#home-inner h5 {
    margin-bottom: 10px;
}
#home-inner h2 {
    margin-top: 0px;
    padding-top: 10px;
    margin-bottom: 10px;
    width: fit-content ;
}

#home-inner p a {
    text-decoration: unset;
}

#home-inner h1, #home-inner h5, #home-inner p, #home-inner h2{
    left: 0;
    text-shadow: 4px 4px black;
}
/* *************** About Section *********************** */

#about-section{
    height: 100vh;
    color: white;
    border-top: solid #BC4123;
    border-bottom: solid #BC4123;
    display: flex;
    flex-direction: row;
    padding: 3%;
}
#about-left {
    width: 30%;
    overflow: hidden;
    padding-right: 20px;
    margin: auto;
}
#about-right{
    width: 60%;
    overflow: hidden;
    margin: auto;
}
#about-right p{
    max-height: 150px;
    overflow-y: scroll;
    font-size: clamp(15px, 3vw, 19px);
    
}
#contact-container {
    overflow: wrap;
    overflow-wrap: break-word;
}

.images {
    max-width: 250px;
    width: 70%;
    margin-bottom: 25px;
}
#skills-container p {
    font-size: clamp(3px, 10px, 20px);
    margin-top: 5px;
    margin-bottom: 1px;
}
.skill-container {
    width: 100%;
    background-color: #ddd;
}
.skills{
    text-align: right;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1.3vw;
    padding-right: 10px;
}

.java{
    width: 60%;
    background-color: orange;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
}
.python {
    width: 50%;
    background-color: blue;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
}
.html-css {
    width: 50%;
    background-color: red;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;

}
.java-script {
    width: 40%;
    background-color: purple;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
}
.kotlin {
    width: 30%;
    background-color: green;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
}
.sql {
    width: 30%;
    background-color: darkgray;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
}
/* *************** Project Section *********************** */
#project-section{
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#inner-projects {
    width: 90%;
    height: 80%;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
#inner-projects > div {
    display: flex;
    margin: 10px;
    text-align: center;
    width: 30vw;
    height: 30vw;
    max-width: 300px;
    max-height: 300px;
    cursor: pointer;
    border-radius: 30px;
    transition: .3s;
}
.expanded {
    width: 100% !important;
    max-width: 550px !important;
    height: 60vh !important;
    max-height: 550px !important;
    transition: .3s;
}

.inside {
    height: 50%;
    width: 100%;
    margin-bottom: 0;
    margin-top: auto;
    background-color: rgb(36, 35, 35, .7);
    display: none;
    color: white;
    font-size: 2vh;
    overflow-y: scroll;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.inside .fa {
    background-color: white;
    color: #BC4123;
    font-size: 5vh;
}

/*___________ individual projects ___________*/
#webpage-screen {
    background-image: url(../images/projects/website1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#captcha {
    background-image: url(../images/projects/captcha2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#git-confused {
    background-image: url(../images/projects/git_confused_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#ipps {
    background-image: url(../images/projects/ipps_sql_java.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#lex-syn {
    background-image: url(../images/projects/lex_syn.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#three-class {
    background-image: url(../images/projects/ml_3classifiers_py.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#oop {
    background-image: url(../images/projects/oop_java.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#sched {
    background-image: url(../images/projects/simulated_sched_py.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#skynet {
    background-image: url(../images/projects/skynet_ml_py.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#sudoku_hs {
    background-image: url(../images/projects/sudoku_hs.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#expert-sys {
    background-image: url(../images/projects/expert_sys_prolog.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#hot-cold {
    background-image: url(../images/projects/hot_cold_kotlin.png);
    background-repeat: no-repeat;
    background-size: cover;
}


