body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* * {box-sizing: border-box}
 */
.body-content {
    margin-left: 175px;
    border-left: #bb6f27;
    border-left-style: groove;
    border-right-style: groove;

}

/* Site nav section */
.sidenav {
    margin: 0;
    padding: 0;
    width: 175px;
    background-color: rgb(146, 144, 144);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidenav a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    margin: 0;
}

.sidenav a.active {
    background-color: #bb6f27;
    color: white;
}

.sidenav a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* intro is the top half of the index page */
#intro {
    text-align: center;
    background-image: url(../images/nasa-vltMzn0jqsA-unsplash.jpg) ;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat ;
    position: relative;
    height: 900px;
    padding: 50px;
    border-bottom: #bb6f27;
    border-bottom-style: groove;

}

#intro-box {
    height: 600px;
    width: 500px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(146, 144, 144);
    border-radius: 40px;
}

#profile-image {
    height: 300px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 40px;
}

#profile-desc {
    text-align: center;
    font-size: 30px;
}

#profile {
    margin: 50px;
    background-color: whitesmoke;
    border-radius: 20px;
    height: 400px;
}

/* bottom part of index page */
#index-bottom {
    height: 900px; /* temporary just to look at page sizing */
    text-align: center; 
    padding-top: 80px;
    background-color: rgb(161, 161, 161);

}



@media screen and (max-width: 700px) {
    .sidenav {
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    /* navigation buttons */
    .active {
        float: left;
    }
    .proj-page {
        float: left;
    }
    .ex-page {
        float: left;
    }
    .home {
        float: left;
    }
    .intro {
        margin-left: 0;
    }

    /* social media buttons */
    .fa {
        float: right;
        position: unset !important;
    }

    section.body-content {margin-left: 0;}


}
@media screen and (max-width: 400px) {
    .sidenav {
        height: 52px;
        overflow: scroll;
    }
    .fa {
        position: absolute !important;
        top: 50px !important;
        display: none !important;
    }
    .nav-buttons-container {
        width: 100%;
        top: 0;
    }
    .intro{
        margin-left: 0;
    }
}

.fa {
    padding: 10px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}

.fa-github {
    color: white;
    left: 110px;
}
.fa-linkedin {
    color: white;
    left: 60px;
}
.fa-facebook {
    color: white;
    left: 10px;
}



/* excercises page */
.body-content-exercise {
    margin-left: 175px;
}
