body {
    margin: 0;
    font-family:  'Coustard';font-size: 22px;
    width: 100%;
}
/* body {
    display: flex;
}
 */
* {box-sizing: border-box}

.body-content {
    margin-left: 175px;
    border-left: #bb6f27;
    border-left-style: groove;
    border-right-style: groove;

}

/* Site nav section */
.sidenav {
    margin: 0;
    padding: 0;
    width: 175px;
    background-color: rgba(0, 0, 0, 0.795);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidenav a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    margin: 0;
}

.sidenav a.active {
    background-color:#bb6f27;
    color: white;
}

.sidenav a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* intro is the top half of the index page */
#intro {
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url(../images/tandem-x-visuals-5jBPxMkoTDA-unsplash.jpg) ;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat ;
    position: relative;
    padding: 50px;
    border-bottom: #fd7e14;
    border-bottom-style: groove;

}

#intro-box {
    justify-content: center;
    max-width: 400px;
    max-height: 600px;
    display: block;
    height: auto;
    width: auto;
    margin-top: 10%;
    margin-bottom: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #fd8f28;
    border-radius: 40px;
}

#profile-image {
    margin-top: 20px;
    box-sizing: inherit;
    width: 80%;
    border-radius: 40px;
}

#profile-desc {
    text-align: center;
    color: white;
}

#profile {
    margin: 50px;
    background-color: whitesmoke;
    border-radius: 20px;
    height: 400px;
}

/* bottom part of index page */
#index-bottom {
    height: 900px; /* temporary just to look at page sizing */
    padding-top: 80px;
    background-color: #fd8f28;

}

@media screen and (max-width: 700px) {
    .sidenav a {
        padding: 13px;
    }

    .sidenav {
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    /* navigation buttons */
    .active {
        float: left;
        padding: 14px;
    }
    .proj-page {
        float: left;
        padding: 14px;
    }
    .ex-page {
        float: left;
        padding: 14px;
    }
    .home {
        float: left;
        padding: 14px;
    }
    .intro {
        margin-left: 0;
    }

    /* social media buttons */
    .fa {
        float: right;
        position: unset !important;
    }

    section.body-content {margin-left: 0;}


}
@media screen and (max-width: 400px) {
    .sidenav {
        height: 52px;
    }
    .fa {
        position: absolute !important;
        top: 50px !important;
        display: none !important;
    }
    .nav-buttons-container {
        width: 100%;
        top: 0;
    }
    .intro{
        margin-left: 0;
    }

}

.need {
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.need ul {
    color: white;
}

.fa {
    padding: 10px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}

.fa-github {
    color: white;
    left: 110px;
}
.fa-linkedin {
    color: white;
    left: 60px;
}
.fa-facebook {
    color: white;
    left: 10px;
}



/* excercises page */
.body-content-exercise {
    margin-left: 175px;
}
