body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

* {box-sizing: border-box}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshow {
    display: none;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.activeSlide, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }



/* Site nav section */
.sidenav {
    margin: 0;
    padding: 0;
    width: 175px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidenav a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    margin: 0;
}

.sidenav a.active {
    background-color: #3CAF50;
    color: white;
}

.sidenav a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#intro {
    text-align: center;
    background-image: url(../images/nasa-vltMzn0jqsA-unsplash.jpg) ;
    background-attachment: fixed;
    background-size: contain;
    position: relative;
    height: 500px;
    padding: 50px;
    margin-left: 175px;
}


#profile {
    margin: 50px;
    background-color: whitesmoke;
    border-radius: 20px;
    height: 400px;
}


@media screen and (max-width: 700px) {
    .sidenav {
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    /* navigation buttons */
    .active {
        float: left;
    }
    .proj-page {
        float: left;
    }
    .ex-page {
        float: left;
    }
    .home {
        float: left;
    }
    .intro {
        margin-left: 0;
    }

    /* social media buttons */
    .fa {
        float: right;
        position: unset !important;
    }

    section.body-content {margin-left: 0;}


}
@media screen and (max-width: 400px) {
    .sidenav {
        height: 100px;
        overflow: scroll;
    }
    .fa {
        position: absolute !important;
        top: 50px !important;
        display: none;
    }
    .nav-buttons-container {
        width: 100%;
        top: 0;
    }
    .intro{
        margin-left: 0;
    }
}

.fa {
    padding: 10px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}

.fa-github {
    color: white;
    left: 110px;
}
.fa-linkedin {
    color: white;
    left: 60px;
}
.fa-facebook {
    color: white;
    left: 10px;
}